.auth-pattern-grid {
  background-image: linear-gradient(currentColor 1px, transparent 1px),
    linear-gradient(to right, currentColor 1px, transparent 1px);
  background-size: 40px 40px;
  mask-image: radial-gradient(
    ellipse 60% 55% at 50% 50%,
    transparent 50%,
    black 100%
  );
  -webkit-mask-image: radial-gradient(
    ellipse 60% 55% at 50% 50%,
    transparent 50%,
    black 100%
  );
}
